<body style="background-color:lightyellow;">


<h1><font color="green">Blog Home</font></h1>

<h1><font color="green">Welcome to your new blog!</font></h1>

<%= link_to 'Edit Info', welcome_index_path %>