
<body style="background-color:"white";">

<h1><font face="optima" color=#64A5E6>Hello! Let's create your blog!</font></h1>

  <h2><FONT face="optima" color=#5A5A5A>First we need to get some information from you.</FONT></h2>

  <form method="post">
  <fieldset>
    <font face="optima" color=#5A5A5A>Name:</font><br>
    <input type=“text” name="fullname" size="29">
    <br>
    <font face="optima" color=#5A5A5A>Email:</font><br>
    <input type=“text” name="email" size="29">
  </fieldset>
<input class="MyButton" type="button" value="Create My Blog" onclick="window.location.href='http://localhost:3000/articles'" />
</form>


